[user]
	name = hravikumar
    email = hravikumar@ambiqmicro.com

[gui]
	displayuntracked = false
[credential]
	helper = cache --timeout 86400
[alias]
    gs = status -uno
    co = checkout
    br = branch
    up = rebase
    gc = commit
    l1 = log --oneline
    gdt = git difftool
    gmt = git mergetool
[core]
    editor = vim
    excludesfile = ~/.gitignore

## Add the following to your .gitconfig file.
[diff]
    tool = meld
[difftool]
    prompt = false
# [difftool "meld"]
#     cmd = meld "$LOCAL" "$REMOTE"
# [merge]
#     tool = meld
# [mergetool "meld"]
#     # Choose one of these 2 lines (not both!) explained below.
#     cmd = meld "$LOCAL" "$MERGED" "$REMOTE" --output "$MERGED"
#     cmd = meld "$LOCAL" "$BASE" "$REMOTE" --output "$MERGED"
[hari]
	ravikumar = hravikumar@ambiqmicro.com
[push]
	default = matching
